/* Logo dans le header */
.logo a img {
    width: 50px !important;
    height: 50px !important;
    transform: translateY(2px) !important;
}

.logo a img {
    width:50px !important;
    height: 50px !important;
    transform: translateY(2px) !important;
}

/* Ajuster l'espacement */
.logo a {
    display: flex !important;
    align-items: center !important;
    gap: .2rem !important;
}


.post-content p {
    text-align: justify;
}

.list article:first-of-type {
  border-left: 6px solid #000;
  padding-left: 16px;
}

body:has(.profile) {
  background-image: url('/images/back.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

body:has(.profile)::before {
  content: '';
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

/* Passe tout le contenu au-dessus de l'overlay */
body:has(.profile) > * {
  position: relative;
  z-index: 1;
}

/* Force le header encore plus haut */
body:has(.profile) .header {
  position: relative;
  z-index: 2;
}

.profile {
  position: relative;
  z-index: 1;
  margin-top: -3rem;
}

html:has(.profile) {
  overflow: hidden;
}

/* body:not(:has(.profile)) .header {
  background-image: 
    linear-gradient(to bottom, transparent 0%, white 100%),
    url('/images/back.png');
  background-size: cover;
  background-position: top;
} */

